@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

 h1, h2, h3, h4, h5, h6 {
  @apply text-harlequin-600;
  font-family: "EB Garamond", system-ui;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 209 56% 42%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 120 3% 6%;
    --foreground: 0 0% 98%;

    --card: 90 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 90 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 108 10% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 105 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 110 5% 22%;
    --muted-foreground: 110 5% 49%;

    --accent: 107 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 100 5% 12%;
    --input: 105 4% 18%;
    --ring: 108 10% 40%;
  }
}

.main-bg {
  width: 100vw;
  height: 100vh;
  mask-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.7), transparent);
  mask-position: center;
  mask-repeat: no-repeat;
}

.header-bg {
  mask-image: linear-gradient(to right, transparent, black);
}